<div class="container">
    {{> header}}
    {{#if hasNoTeam}}
        <button><a href="/create-team" class="btn btn-default">Create Team</a></button>
    {{/if}}
    <h1>Catalog Page</h1>
    <div>
        {{#each teams}}
            {{> team}}
        {{/each}}
    </div>
</div>

{{> footer}}